

li{
    color: black;
    font-family: sans-serif;
    font-size: large;
    padding: 90px;
}

p{
	width: 70%;

}


.barra{
	background-color:#B3B8EC;
	width: 60%;
	color: black;
}

.nosotros{
		    
    		width: 40%;
    		height: 35px;
    		margin-left: 128px;
    		color: black;
    		text-align: center;
    		font-size: xx-large;
		}

.cajatxt{
		    height: 114px;
    		width: 221px;
}

.formulario{
		    margin: 19px;
    		margin-top: 12px;
}

.barracont{
		
		color: black;
		font-size: medium;
		text-align: center;
		width: 207px;
		margin-top: 29px;


	}

img{
	width: 795px;
    height: 167px;
    margin-left: 41px;
}

body{
	background-color:#A7A8AE;
}
