img{
    position: center;
}

li{
    color: blue;
    font-family: sans-serif;
    font-size: large;
    padding: 90px;
}

p{
	width: 70%;
}


.barra{
	background-color: #EACAC3;
	width: 67%;
}

.nosotros{
		background-color: #EACAC3;
		width: 67%;
		color: blue;
		text-align: center;
    	font-size: xx-large;

}

.cajatxt{
		    height: 114px;
    		width: 221px;
}