

li{
    color: black;
    font-family: sans-serif;
    font-size: large;
    padding: 90px;
}

p{
	width: 70%;

}


.barra{
	background-color:#B3B8EC;
	width: 60%;
	color: black;
}

.nosotros{
		    
    		width: 40%;
    		height: 35px;
    		margin-left: 128px;
    		color: black;
    		text-align: center;
    		font-size: xx-large;
		}

.cajatxt{
		    height: 114px;
    		width: 221px;
}

.formulario{
		        width: 25%;
}

.barracont{
		
		    color: black;
    	font-size: medium;
    	text-align: center;
    	width: 271px;
    	margin-top: 0px;


	}

.animacion{
	    width: 693px;
    	height: 124px;
    	margin-top: 28px;
    	margin-left: 61px;
}

.texto1{
	    text-align: -webkit-right;
	        width: 61%;
}

.texto2{
	    margin-top: 32px;
    	margin-bottom: 1rem;
    	margin-left: 34px;
    	width: 770px;
    	text-align: center;
}

